
#first {
	padding-top: 5%;

}

#second {
	padding-top: 5%;
		
}

#third {
	padding-top: 5%;
	
}

#fourth {
	padding-top: 5%;
	
}


#glen {
	border-radius: 100%;
	border-style: solid;
	border-color: slategrey;
}

#gretta {
	border-radius: 100%;
	border-style: solid;
	border-color: slategrey;
}

#josh {
	border-radius: 100%;
	border-style: solid;
	border-color: slategrey;
}

#sam {
	border-radius: 100%;
	border-style: solid;
	border-color: slategrey;
}

/*about page css*/
#skull {
	display: flex;
	width: 5.5%;
	float: left;
	padding-left: 30%;
	padding-top: .5%;
}

#skull2 {
	display: flex;
	width: 5.5%;
	float: right;
	padding-right: 30%;
	padding-top: .5%;

}


#win {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 2.5vw;
	background-color: #766e77;
	border-bottom-style: solid;
	border-bottom-color: red;
}

#statement {
	background-color: #534954;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-style: solid;
	border-color: red;
}

article {
	color: white;
	text-shadow: 2px 2px black;
	text-align: center;
	font-size: 2vw;
	padding: 6% 10% 2% 50%;
	border-bottom-style: solid;
	border-bottom-color: red;
	background-color: #534954;
}

h4 {
	color: white;
	float: left;
	font-size: 3vw;
	padding: 0 0 0 3%;
}


#bio {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #534954;
}

#bio .heading-box {
	padding: 10px;
	background-color: #766e77;
	border-bottom-style: solid;
	border-bottom-color: red;
}

.bio-container {
	min-height: 300px;
}

.bio-container img {
	float: left;
}