/*Currently using the color Red as FF0005, Black, White and Grey as 534954*/
/*Everything is subject to change! I'm mostly setting a foundation for now*/
.nav {
	background-color: white; 
	border-bottom: #FF0005; /*Red*/
	text-align: center;
	

}


.nav a li {
	display: inline-block;
	text-decoration: none;
	padding:5px;


}

body{
	background-image: url("./images/abstractdarkwallpaper.jpg");
	background-color: #534954 /*Grey*/
}

h2{color:white;
text-align: center;}

/*Sections*/
/*Welcome part of index.html*/
.welcome{


}
/*Divs*/
/*Winion teaser div in index.html*/
.bigbad{

}

/*Winion Captions*/
/*Winion*/{

}
/*Testimonials Div on index.html*/
.testimonials{
	float: left;
	margin-right: auto;
	border: solid;
	border-color: black;
}
/*Spans*/{

}
/*Pictures*/
/*Winion logo*/
.logo{
	width: 30%;
	
}


/*Winion Teaser img in div on index.html*/
.ironWinion{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-color: black;
}

/*footers*/
footer{
	background-color: white;
	border:solid;
	border-color: black;
}
/*Media Queries*/

@media (min-width: 769px){

.nav ul {display:flex;}

.nav a li {
	display: inline;
	text-decoration: none;

}

.logo{
	width: 10%;
	
}

.floatleft{
	float: left;
}

.floatright {
	float:right;
}

}/*end of media query for 769px*/